# Librerias

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Definicion de un path para acortar la definicion de la ruta
path = "\\Users\\Usuario\\Desktop\\hechos-delictivios-tdf\\"

# Decripción de los Datasets

Los datasets utilizados y descriptos en esta notebook se encuentran almacenados en la carpeta data/interim y fueron seleccionados para construir el dataset principal. Cada uno de estos conjuntos de datos fue filtrado temporalmente para conservar únicamente la información correspondiente al período comprendido entre los años 2017 y 2023, sin realizar procesos adicionales de limpieza. Esta decisión responde a la necesidad de mantener coherencia temporal con el dataset de registro de hechos delictivos en la provincia de Tierra del Fuego, que constituye el núcleo del análisis.

A continuación, se detallan las variables incluidas en cada uno de los datasets

## Dataset: Registro de hechos delictivos en Tierra Del Fuego e Islas del Atlantico Sur

In [5]:
df_delictivo = pd.read_csv(path + r"data\interim\TDF_SAT-Propiedad-BU_2017-2023.csv", delimiter =',')

- Origen: Bases de datos de estadísticas criminales. Publicadas por la la Dirección Nacional de Estadística Criminal del Ministerio de Seguridad de la Nación.
- Enlace: https://www.argentina.gob.ar/seguridad/estadisticascriminales/bases-de-datos
- Descripción: Este dataset constituye la fuente principal de análisis del proyecto y contiene registros mensuales de hechos delictivos ocurridos en la provincia de Tierra del Fuego, Argentina, entre los años 2017 y 2023. La información está desagregada por tipo de delito, jurisdicción departamental, origen de la denuncia, características del hecho y datos sociodemográficos de los inculpados.
- Número de filas: 2253
- Número de columnas:33

### Descripcion de columnas
- provincia_id: Variable númerica, indica el número de indentidad que representa a la provincia. Valores: "94"
- provincia_nombre: Variable categorica, indica el nombre de la provincia. Valores: "Tierra del Fuego"
- departamento_id: Variable númerica, numero de identificacion del departamento. Valores: "94007" (Río Grande), "94014" (Ushuaia), "94011" (Tolhuin) y "94999" (Departamento sin determinar).
- departamento_nombre: Variable categorica, nombre del departamento. Valores: "Río Grande", "Ushuaia", "Tolhuin" y "Departamento sin determinar".
- anio: Variable númerica. 
- mes: Variable categorica.
- codigo_delito_sat_prop: Variable númerica. Valores: 1 (Hurtos (excluir de automotores), 2 (Hurto de automotores), 3 (Robos (excluir de automotores bancos y motocicletas), 4 (Robo de automotores), 5 (Robo de bancos), 6 (Extorsiones), 7 (Secuestros), 8 (Robo de motocicletas), 9 (Hurto de motocicletas).
- nombre_delito_sat_prop: Variable categorica, 'Extorsiones', 'Hurto de automotores', 'Hurtos (excluir de automotores)', 'Robo de automotores', 'Robo de bancos', 'Robo de motocicletas', 'Robos (excluir de automotores bancos y motocicletas)'
- cantidad_hechos: Variable númerica.
- cantidad_hechos_inc_conocido: Variable númerica.
- cantidad_hechos_inc_desconocido: Variable númerica.
- cantidad_hechos_lugar_via_publ: Variable númerica.
- cantidad_hechos_lugar_establec: Variable númerica.
- cantidad_hechos_lugar_dom_part: Variable númerica.
- cantidad_hechos_lugar_sd: Variable númerica.
- cantidad_hechos_arma_de_fuego: Variable númerica.
- cantidad_hechos_arma_otra: Variable númerica.
- cantidad_hechos_arma_sin_arma: Variable númerica.
- cantidad_hechos_arma_sd: Variable númerica.
- cantidad_hechos_origen_denuncia: Variable númerica.
- cantidad_hechos_origen_intervenc: Variable númerica.
- cantidad_hechos_origen_orden_jud: Variable númerica.
- cantidad_hechos_origen_otro: Variable númerica.
- cant_hechos_agrav_por_lesiones: Variable númerica.
- cant_hechos_agrav_sin_lesiones: Variable númerica.
- cantidad_inculpados: Variable númerica.
- cantidad_inculpados_sexo_masc: Variable númerica.
- cantidad_inculpados_sexo_fem: Variable númerica.
- cantidad_inculpados_sexo_sd: Variable númerica.
- cantidad_inculpados_edad_0_15: Variable númerica.
- cantidad_inculpados_edad_16_17: Variable númerica.
- cantidad_inculpados_edad_mas_18: Variable númerica.
- cantidad_inculpados_edad_sd: Variable númerica.

In [6]:
pd.set_option('display.max_columns', None)
df_delictivo.head(5)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,cantidad_hechos_inc_desconocido,cantidad_hechos_lugar_via_publ,cantidad_hechos_lugar_establec,cantidad_hechos_lugar_dom_part,cantidad_hechos_lugar_sd,cantidad_hechos_arma_de_fuego,cantidad_hechos_arma_otra,cantidad_hechos_arma_sin_arma,cantidad_hechos_arma_sd,cantidad_hechos_origen_denuncia,cantidad_hechos_origen_intervenc,cantidad_hechos_origen_orden_jud,cantidad_hechos_origen_otro,cant_hechos_agrav_por_lesiones,cant_hechos_agrav_sin_lesiones,cantidad_inculpados,cantidad_inculpados_sexo_masc,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,60,12,14,44,0,0,0,70,0,46,24,0,0,0,0,10,7,3,0,0,0,10,0
3,94,Tierra del Fuego,94007,Río Grande,2017,Abril,4,Robo de automotores,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,94,Tierra del Fuego,94007,Río Grande,2017,Abril,5,Robo de bancos,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Dataset: Estimación de poblacional total según ingreso medio per capita

In [7]:
df_poblacion_total = pd.read_csv(path + r"data/interim/Poblacion-total-segun-ingreso-medio-per-capita.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/
- Descripción: Es la cantidad de personas en un tiempo determinado. Las diferencias en los totales de población y de ingresos entre los distintos cuadros del banco de datos se deben al uso de los diferentes ponderadores correspondientes en cada caso.
- Número de filas: 28
- Número de columnas: 5

### Descripción de columnas
- Año: Variable númerica.
- Trimestre: Variable categorica. Valores: "1er trimestre" "2do trimestre", "3er trimestre" y "4to trimestre".
- Población total: Variable númerica.
- Ingreso total (en miles): Variable númerica.
- Ingreso medio per cápita (en pesos): Variable númerica.

In [8]:
df_poblacion_total.head(5)

,Año,Trimestre,Población total,Ingreso total (en miles),Ingreso medio per cápita (en pesos)
0,2017,1er trimestre,151966,1995313,13130
1,2017,2do trimestre,152940,2004062,13104
2,2017,3er trimestre,154078,2238184,14526
3,2017,4to trimestre,154882,2321392,14988
4,2018,1er trimestre,155872,2303532,14778

## Dataset: Poblacion ocupada segun escala de ingreso de la ocupacion principal

In [9]:
df_poblacion_con_ingresos = pd.read_csv(path + r"data/interim/Poblacion-ocupada-segun-escala-de-ingreso-de-la-ocupacion-principal.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/
- Descripción: Población ocupada según escala de ingreso de la ocupación principal.
- Número de filas: 28
- Número de columnas: 3

### Descripción de columnas
- Año: Variable númerica.
- Trimestre: Variable categorica. Valores: "1er trimestre" "2do trimestre", "3er trimestre" y "4to trimestre".
- Ocupados con ingresos: Variable númerica.

In [10]:
df_poblacion_con_ingresos.head(5)

    Año      Trimestre  Ocupados con ingresos
0  2017  1er trimestre                  60412
1  2017  2do trimestre                  62512
2  2017  3er trimestre                  60674
3  2017  4to trimestre                  63110
4  2018  1er trimestre                  64968

## Dataset: Recaudación impositiva mensual por concepto

In [11]:
df_impuestos = pd.read_csv(path + r"data/interim/Recaudacion_impositiva_mensual_por_concepto.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-economicas-2/
- Descripción: Son los recursos que obtiene el gobierno por las imposiciones fiscales, que en forma unilateral y obligatoria fija el Estado, a las personas humanas y jurídicas conforme a las diversas leyes fiscales para el financiamiento del gasto público.
- Número de filas: 84
- Número de columnas: 7

### Descripción de columnas
- Mes: Variable númerica (Datetime). Indica el año, mes, día y hora del registro.
- Total: Variable númerica.
- Impuestos ingresos brutos: Variable númerica.
- Convenio multilateral: Variable númerica.
- Impuestos de sello: Variable númerica.
- Impuesto inmobiliario: Variable númerica.
- Otros ingresos: Variable númerica.

In [12]:
df_impuestos.head()

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
0,2017-01-01 00:00:00,"519,283,888","71,123,083","158,601,571","21,718,644","22,115","267,818,476"
1,2017-02-01 00:00:00,"467,864,648","57,416,525","144,090,087","17,667,071","223,034","248,467,932"
2,2017-03-01 00:00:00,"482,706,552","69,333,643","145,077,379","17,222,376","149,048","250,924,106"
3,2017-04-01 00:00:00,"596,500,020","63,108,045","235,841,071","20,348,071","25,087","277,177,746"
4,2017-05-01 00:00:00,"584,560,675","67,983,284","194,554,548","23,899,008","9,975","298,113,860"

## Dataset: Canasta basica alimentaria y canasta basica total

In [13]:
df_cba = pd.read_csv(path + r"data/interim/Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/
- Descripción: La canasta básica alimentaria (CBA) es el valor monetario que permita adquirir un conjunto de alimentos y bebidas que satisfacen requerimientos nutricionales, kilocalóricos y proteicos, cuya composición refleja los hábitos de consumo de una población de referencia, es decir, un grupo de hogares que cubre con su consumo dichas necesidades alimentarias. Los valores del cuadro refieren al valor monetario que permite comprar los alimentos necesarios para alcanzar los requerimientos de energía, expresados en kilocalorías (kcal), de un adulto equivalente.

    El valor de la CBA es utilizado en la Argentina, con fines estadísticos, como referencia para establecer la línea de indigencia (LI), comúnmente conocida como pobreza extrema. El concepto de línea de indigencia procura establecer si los hogares y las personas que lo integran cuentan con ingresos suficientes para cubrir una canasta básica de alimentos capaz de satisfacer un umbral mínimo de necesidades energéticas y proteicas.
- Número de filas: 84
- Número de columnas: 4

### Descripción de columnas
- Mes: Variable númerica (Datetime). Indica el año, mes, día y hora del registro.
- CBA-Linea de Indigencia:
- inversa del coeficiente de Engel:
- CBA-Linea de pobreza:

In [14]:
df_cba.head(5)

,Mes,CBA-Linea de Indigencia,inversa del coeficiente de Engel,CBA-Linea de pobreza
0,2017-01-01 00:00:00,1848.5,2.74,5064.89
1,2017-02-01 00:00:00,1882.42,2.76,5195.4792
2,2017-03-01 00:00:00,1939.76,2.75,5334.34
3,2017-04-01 00:00:00,1975.67,2.78,5492.3625999999995
4,2017-05-01 00:00:00,1994.94,2.78,5545.9331999999995

### Dataset: IPC resultados por divisiones de la canasta categorias bienes y servicios

In [15]:
df_ipc = pd.read_csv(path + r"data/interim/IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios._Patagonia.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/
- Descripción: El índice de precios al consumidor (IPC) es un indicador que mide la evolución promedio de los precios de un conjunto de bienes y servicios representativos del gasto de consumo de los hogares residentes en un área determinada, que constituyen la canasta IPC. Los resultados se obtienen de 39 aglomerados urbanos y se presentan desagregados para 6 regiones estadísticas: Gran Buenos Aires, Cuyo, Noreste, Noroeste, Pampeana y Patagonia.Desde diciembre del año 2016 hasta abril del años 2025 de la region patagonica.

    A partir de una determinada canasta (canasta IPC) con aquellos productos y servicios más representativos del gasto del conjunto de los hogares de una región, se realiza un relevamiento mensual de precios. En diciembre de 2016 se realizó una primera medición los precios de esa canasta que constituye la “base” del índice. Para el cálculo mensual del IPC se relevan los precios de los mismos bienes y servicios que integran la canasta IPC, y se observa su evolución en el tiempo. Se compara producto por producto, mes a mes; y de sus variaciones con respecto al período base o período de referencia (diciembre 2016) se obtiene un número índice.

- Número de filas: 101
- Número de columnas: 14

### Descripción de columnas
- Mes: Variable númerica (Datetime). Indica el año, mes, día y hora del registro.
- Nivel general: Variable númerica.
- Alimentos y bebidas no alcohólicas: Variable númerica.
- Bebidas alcohólicas y tabaco: Variable númerica.
- Prendas de vestir y calzado: Variable númerica.
- Vivienda, agua, electricidad y otros combustibles: Variable númerica.
- Equipamiento y mantenimiento del hogar: Variable númerica.
- Salud: Variable númerica.
- Transporte: Variable númerica.
- Comunicación: Variable númerica.
- Recreación y cultura: Variable númerica.
- Educación: Variable númerica.
- Restaurantes y hoteles: Variable númerica.
- Bienes y servicios varios: Variable númerica.

In [16]:
df_ipc.head(5)

,Mes,Nivel general,Alimentos y bebidas no alcohólicas,Bebidas alcohólicas y tabaco,Prendas de vestir y calzado,"Vivienda, agua, electricidad y otros combustibles",Equipamiento y mantenimiento del hogar,Salud,Transporte,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios
0,2016-12-01 00:00:00,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000
1,2017-01-01 00:00:00,102.5593,100.9464,101.1901,100.9137,110.3184,101.0684,104.7253,102.4768,101.6649,100.9612,106.9917,102.2654,102.4839
2,2017-02-01 00:00:00,104.2827,102.2499,105.3560,102.3756,112.0198,101.2819,107.0073,104.4111,105.7368,102.5319,106.6870,105.6675,104.2815
3,2017-03-01 00:00:00,106.5167,103.9781,106.5579,104.7865,115.3729,102.3074,108.7254,106.3107,107.8430,105.0260,123.3177,105.4631,106.3970
4,2017-04-01 00:00:00,108.6517,105.4772,109.6650,105.7600,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.8380

## Dataset: Poblacion estimada al 1 de Julio de cada año

In [17]:
df_poblacion_departamento = pd.read_csv(path + r"data\interim\Poblacion-estimada-al-1-de-julio-de-cada-ano-calendario-por-sexo-segun-departamento.csv", delimiter =',')

- Origen: IPIEC
- Enlace: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/
- Descripción: La población estimada es una proyección de la población futura, a corto y medio plazo, basada en el conocimiento de los fe.nómenos demográficos y utilizando los indicadores demográficos de mortalidad, fecundidad y migraciones. Abarca desde 2010 hasta 2025.
- Número de filas: 16
- Número de columnas: 5

### Descripción de columnas
- Mes: Variable númerica (Datetime). Indica el año, mes, día y hora del registro.
- Total: Variable númerica.
- Impuestos ingresos brutos: Variable númerica.
- Convenio multilateral: Variable númerica.
- Impuestos de sello: Variable númerica.
- Impuesto inmobiliario: Variable númerica.
- Otros ingresos: Variable númerica.

In [18]:
df_poblacion_departamento.head(5)

     Anio  Total ambos sexos  Antártida Argentina  Río Grande  Ushuaia
0  2010.0           131661.0                214.0     72491.0  58956.0
1  2011.0           135742.0                220.0     74777.0  60745.0
2  2012.0           139852.0                227.0     77079.0  62546.0
3  2013.0           143987.0                235.0     79395.0  64357.0
4  2014.0           148143.0                241.0     81723.0  66179.0

## Dataset: Dataset principal y final

In [19]:
df_final = pd.read_csv(path + r"data\interim\TDF-hechos-delictivos.csv", delimiter =',')

- Descripción: Este dataset fue construido utilizando como base el dataset de hechos delictivos de Tierra del Fuego e incorporando columnas adiccionales correspondiente a los datasets descriptivos anteriormente.
- Número de filas: 2253
- Número de columnas: 59

### Descripción de columnas
- provincia_id: Variable númerica, indica el número de indentidad que representa a la provincia. Valores: "94"
- provincia_nombre: Variable categorica, indica el nombre de la provincia. Valores: "Tierra del Fuego"
- departamento_id: Variable númerica, numero de identificacion del departamento. Valores: "94007" (Río Grande), "94014" (Ushuaia), "94011" (Tolhuin) y "94999" (Departamento sin determinar).
- departamento_nombre: Variable categorica, nombre del departamento. Valores: "Río Grande", "Ushuaia", "Tolhuin" y "Departamento sin determinar".
- anio: Variable númerica. 
- mes_2: Variable categorica.
- codigo_delito_sat_prop: Variable númerica. Valores: 1 (Hurtos (excluir de automotores), 2 (Hurto de automotores), 3 (Robos (excluir de automotores bancos y motocicletas), 4 (Robo de automotores), 5 (Robo de bancos), 6 (Extorsiones), 7 (Secuestros), 8 (Robo de motocicletas), 9 (Hurto de motocicletas).
- nombre_delito_sat_prop: Variable categorica, 'Extorsiones', 'Hurto de automotores', 'Hurtos (excluir de automotores)', 'Robo de automotores', 'Robo de bancos', 'Robo de motocicletas', 'Robos (excluir de automotores bancos y motocicletas)'
- cantidad_hechos: Variable númerica.
- cantidad_hechos_inc_conocido: Variable númerica.
- cantidad_hechos_inc_desconocido: Variable númerica.
- cantidad_hechos_lugar_via_publ: Variable númerica.
- cantidad_hechos_lugar_establec: Variable númerica.
- cantidad_hechos_lugar_dom_part: Variable númerica.
- cantidad_hechos_lugar_sd: Variable númerica.
- cantidad_hechos_arma_de_fuego: Variable númerica.
- cantidad_hechos_arma_otra: Variable númerica.
- cantidad_hechos_arma_sin_arma: Variable númerica.
- cantidad_hechos_arma_sd: Variable númerica.
- cantidad_hechos_origen_denuncia: Variable númerica.
- cantidad_hechos_origen_intervenc: Variable númerica.
- cantidad_hechos_origen_orden_jud: Variable númerica.
- cantidad_hechos_origen_otro: Variable númerica.
- cant_hechos_agrav_por_lesiones: Variable númerica.
- cant_hechos_agrav_sin_lesiones: Variable númerica.
- cantidad_inculpados: Variable númerica.
- cantidad_inculpados_sexo_masc: Variable númerica.
- cantidad_inculpados_sexo_fem: Variable númerica.
- cantidad_inculpados_sexo_sd: Variable númerica.
- cantidad_inculpados_edad_0_15: Variable númerica.
- cantidad_inculpados_edad_16_17: Variable númerica.
- cantidad_inculpados_edad_mas_18: Variable númerica.
- cantidad_inculpados_edad_sd: Variable númerica.

**Nuevas columnas:**
- Trimestre: Variable categorica. Valores: "1er trimestre" "2do trimestre", "3er trimestre" y "4to trimestre".
- Población total: Variable númerica.
- Ocupados con ingresos: Variable númerica.
- poblacion_por_departamento: Variable númerica.
- mes: Variable númerica.
- CBA-Linea de Indigencia: Variable númerica.
- inversa del coeficiente de Engel: Variable númerica.
- CBA-Linea de pobreza: Variable númerica.
- Nivel general: Variable númerica.
- Alimentos y bebidas no alcohólicas: Variable númerica.
- Bebidas alcohólicas y tabaco: Variable númerica.
- Prendas de vestir y calzado: Variable númerica.
- Vivienda, agua, electricidad y otros combustibles: Variable númerica.
- Equipamiento y mantenimiento del hogar: Variable númerica.
- Salud: Variable númerica.
- Transporte: Variable númerica.
- Comunicación: Variable númerica.
- Recreación y cultura: Variable númerica.
- Educación: Variable númerica.
- Restaurantes y hoteles: Variable númerica.
- Bienes y servicios varios: Variable númerica.
- Total: Variable númerica.
- Impuesto ingresos brutos: Variable númerica.
- Convenio multilateral: Variable númerica.
- Impuesto de sellos: Variable númerica.
- Impuesto inmobiliario: Variable númerica.

In [24]:
df_final.head(5)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes_2,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,cantidad_hechos_inc_desconocido,cantidad_hechos_lugar_via_publ,cantidad_hechos_lugar_establec,cantidad_hechos_lugar_dom_part,cantidad_hechos_lugar_sd,cantidad_hechos_arma_de_fuego,cantidad_hechos_arma_otra,cantidad_hechos_arma_sin_arma,cantidad_hechos_arma_sd,cantidad_hechos_origen_denuncia,cantidad_hechos_origen_intervenc,cantidad_hechos_origen_orden_jud,cantidad_hechos_origen_otro,cant_hechos_agrav_por_lesiones,cant_hechos_agrav_sin_lesiones,cantidad_inculpados,cantidad_inculpados_sexo_masc,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total,Ocupados con ingresos,poblacion_por_departamento,mes,CBA-Linea de Indigencia,inversa del coeficiente de Engel,CBA-Linea de pobreza,Nivel general,Alimentos y bebidas no alcohólicas,Bebidas alcohólicas y tabaco,Prendas de vestir y calzado,"Vivienda, agua, electricidad y otros combustibles",Equipamiento y mantenimiento del hogar,Salud,Transporte,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,60,12,14,44,0,0,0,70,0,46,24,0,0,0,0,10,7,3,0,0,0,10,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
3,94,Tierra del Fuego,94007,Río Grande,2017,Abril,4,Robo de automotores,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
4,94,Tierra del Fuego,94007,Río Grande,2017,Abril,5,Robo de bancos,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"