# Librerias

In [1]:
import numpy as np
import pandas as pd

# Datasets

### Dataset: SAT-Propiedad-BU_2017-2023
- Origen: Bases de datos de estadísticas criminales. Publicadas por la la Dirección Nacional de Estadística Criminal del Ministerio de Seguridad de la
Nación. 
- Enlace: https://www.argentina.gob.ar/seguridad/estadisticascriminales/bases-de-datos

Este dataset contiene datos de todas las provincias de la Argentina desde el 2017 hasta el 2023, con el fin de realizar una prediccion centrado unicamente en la provincia de Tierra del Fuego, se filtro el dataset conservando los registros correspondientes a la provincia.

In [2]:
# Definicion de un path para acortar la definicion de la ruta
path = "\\Users\\Usuario\\Desktop\\hechos-delictivios-tdf\\"

In [3]:
df_nacional = pd.read_excel(path + r"data\external\SAT-Propiedad-BU_2017-2023.xlsx")

In [4]:
df_nacional.columns

Index(['provincia_id', 'provincia_nombre', 'departamento_id',
       'departamento_nombre', 'anio', 'mes', 'codigo_delito_sat_prop',
       'nombre_delito_sat_prop', 'cantidad_hechos',
       'cantidad_hechos_inc_conocido', 'cantidad_hechos_inc_desconocido',
       'cantidad_hechos_lugar_via_publ', 'cantidad_hechos_lugar_establec',
       'cantidad_hechos_lugar_dom_part', 'cantidad_hechos_lugar_sd',
       'cantidad_hechos_arma_de_fuego', 'cantidad_hechos_arma_otra',
       'cantidad_hechos_arma_sin_arma', 'cantidad_hechos_arma_sd',
       'cantidad_hechos_origen_denuncia', 'cantidad_hechos_origen_intervenc',
       'cantidad_hechos_origen_orden_jud', 'cantidad_hechos_origen_otro',
       'cant_hechos_agrav_por_lesiones', 'cant_hechos_agrav_sin_lesiones',
       'cantidad_inculpados', 'cantidad_inculpados_sexo_masc',
       'cantidad_inculpados_sexo_fem', 'cantidad_inculpados_sexo_sd',
       'cantidad_inculpados_edad_0_15', 'cantidad_inculpados_edad_16_17',
       'cantidad_inculpados_edad_mas_18', 'cantidad_inculpados_edad_sd'],
      dtype='object')

In [5]:
df_nacional["provincia_nombre"].unique()

array(['Ciudad Autónoma de Buenos Aires', 'Buenos Aires', 'Catamarca',
       'Córdoba', 'Corrientes', 'Chaco', 'Chubut', 'Entre Ríos',
       'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones',
       'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis',
       'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tucumán',
       'Tierra del Fuego'], dtype=object)

In [6]:
df_TDF = df_nacional[df_nacional['provincia_nombre'] == 'Tierra del Fuego']
df_TDF.shape

(2253, 33)

In [7]:
df_TDF.to_csv(path + r"data\interim\TDF_SAT-Propiedad-BU_2017-2023.csv", index=False)

### Dataset: Poblacion-total-segun-ingreso-medio-per-capita
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/

Este dataset indica un aproximado o estimacion de la poblacion total desde el año 2016 hasta 2024 incluyendo solo las ciudades de Rio Grande y Ushuaia.

In [8]:
ruta_excel = path + r"data\external\06_1_01-Poblacion-total-segun-ingreso-medio-per-capita.xlsx"
df_poblacion = pd.read_excel(ruta_excel, header=2) #Los encabazados estan en la fila 3 del excel

In [9]:
#Se especifican las casillas que tienen los datos que requiero
df_poblacion_filtrado = df_poblacion.iloc[4:32]

In [10]:
df_poblacion_filtrado.head(9)

,Año,Trimestre,Población total,Ingreso total (en miles),Ingreso medio per cápita (en pesos)
4,2017,1er trimestre,151966,1995313,13130
5,NaN,2do trimestre,152940,2004062,13104
6,NaN,3er trimestre,154078,2238184,14526
7,NaN,4to trimestre,154882,2321392,14988
8,2018,1er trimestre,155872,2303532,14778
9,NaN,2do trimestre,156772,2451815,15639
10,NaN,3er trimestre,157720,2500662,15855
11,NaN,4to trimestre,158763,2740321,17260
12,2019,1er trimestre,159849,2696176,16867

In [11]:
# Las funciones de pandas utilizadas van a ser cambiadas en un futuro, para evitar que salten las ventanas de advertencia se añade esta linea
pd.set_option('future.no_silent_downcasting', True)

In [12]:
#Se completan los valores nulos
df_poblacion_filtrado.loc[:, "Año"] = df_poblacion_filtrado["Año"].ffill()

In [13]:
df_poblacion_filtrado.head(5)

,Año,Trimestre,Población total,Ingreso total (en miles),Ingreso medio per cápita (en pesos)
4,2017,1er trimestre,151966,1995313,13130
5,2017,2do trimestre,152940,2004062,13104
6,2017,3er trimestre,154078,2238184,14526
7,2017,4to trimestre,154882,2321392,14988
8,2018,1er trimestre,155872,2303532,14778

In [14]:
df_poblacion_filtrado.to_csv(path + r"data\interim\Poblacion-total-segun-ingreso-medio-per-capita.csv", index=False)

### Dataset:
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-economicas-2/

Son los recursos que obtiene el gobierno por las imposiciones fiscales, que en forma unilateral y obligatoria fija el Estado, a las personas humanas y jurídicas conforme a las diversas leyes fiscales para el financiamiento del gasto público. Abarca desde el año 2000 hasta 2024 de toda la provincia de Tierra del Fuego. 

La informacion esta dividida en dos hojas de excel, por ende es necesario importar y procesar dos veces el mismo dataset.

In [15]:
ruta_excel = path + r"data\external\13_2_01_Recaudacion_impositiva_mensual_por_concepto.xlsx"
# Se carga la hoja "2000-2019" con los encabezados en la fila 4
df_impuestos = pd.read_excel(ruta_excel, sheet_name="2000-2019", header=3)

In [16]:
df_impuestos_filtrado = df_impuestos.iloc[206:242] #Seleccion de la parte de interes de la hoja de excel

In [17]:
df_impuestos_filtrado.to_csv("impuestos_filtrados.csv", index=False, encoding="utf-8")

In [18]:
columnas_a_incluir = ["Total", "Convenio multilateral", "Otros ingresos", "Impuesto ingresos brutos", "Impuesto de sellos", "Impuesto inmobiliario"] 
df_impuestos_1 = pd.read_csv("impuestos_filtrados.csv", encoding="utf-8", dtype=str)

In [19]:
for columna in columnas_a_incluir:
    df_impuestos_1[columna] = df_impuestos_1[columna].replace("-", "0")  # Sustituir "-" por 0
    df_impuestos_1[columna] = df_impuestos_1[columna].str.replace(",", ".", regex=False)  # Ajustar decimales
    df_impuestos_1[columna] = pd.to_numeric(df_impuestos_1[columna], errors="coerce")  # Convertir a número flotante

for columna in columnas_a_incluir:
    df_impuestos_1[columna] = df_impuestos_1[columna].apply(lambda x: "{:,.0f}".format(x) if isinstance(x, (int, float)) else str(x))

for columna in df_impuestos_1.columns:
    df_impuestos_1[columna] = df_impuestos_1[columna].apply(lambda x: '\n'.join([x[i:i+150] for i in range(0, len(x), 150)]) if isinstance(x, str) else x)

In [20]:
df_impuestos_1.head(4)

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
0,2017-01-01 00:00:00,"519,283,888","71,123,083","158,601,571","21,718,644","22,115","267,818,476"
1,2017-02-01 00:00:00,"467,864,648","57,416,525","144,090,087","17,667,071","223,034","248,467,932"
2,2017-03-01 00:00:00,"482,706,552","69,333,643","145,077,379","17,222,376","149,048","250,924,106"
3,2017-04-01 00:00:00,"596,500,020","63,108,045","235,841,071","20,348,071","25,087","277,177,746"

In [21]:
df_impuestos_1.to_csv(path + r"data\interim\1-Recaudacion_impositiva_mensual_por_concepto.csv", index=False)

In [22]:
# Importacion de la hoja 2 del mismo dataset
ruta_excel = path + r"data\external\13_2_01_Recaudacion_impositiva_mensual_por_concepto.xlsx"
# Se carga la hoja "2020-2024" con los encabezados en la fila 5
df_impuestos = pd.read_excel(ruta_excel, sheet_name="2020-2024", header=4)

In [23]:
df_impuestos_filtrado = df_impuestos.iloc[2:50] #Seleccion de la parte de interes de la hoja de excel

In [24]:
df_impuestos_filtrado.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Total Ingresos Tributarios',
       'Impuesto ingresos brutos', 'Convenio multilateral',
       'Impuesto de sellos', 'Impuesto inmobiliario rural', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [25]:
df_impuestos_filtrado = df_impuestos_filtrado.copy()  # Crear una copia segura
# Renombrar columnas mal cargadas
df_impuestos_filtrado.rename(columns={"Unnamed: 0": "Mes", "Unnamed: 1": "Total", "Unnamed: 10": "Otros ingresos", "Impuesto inmobiliario rural": "Impuesto inmobiliario"}, inplace=True)

In [26]:
df_impuestos_filtrado.head(1)

,Mes,Total,Total Ingresos Tributarios,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Unnamed: 7,Unnamed: 8,Unnamed: 9,Otros ingresos
2,2020-01-20 00:00:00,1251929512.06,5.397230e+08,1.358470e+08,3.695620e+08,34173025.61,140972.62,2.649736e+08,1.193620e+08,1.991952e+08,1.286757e+08

In [27]:
columnas_a_eliminar = ["Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Total Ingresos Tributarios"]
df_impuestos_filtrado.drop(columns=columnas_a_eliminar, inplace=True)

In [28]:
df_impuestos_filtrado.columns

Index(['Mes', 'Total', 'Impuesto ingresos brutos', 'Convenio multilateral',
       'Impuesto de sellos', 'Impuesto inmobiliario', 'Otros ingresos'],
      dtype='object')

In [29]:
df_impuestos_filtrado.to_csv("impuestos_filtrados_2.csv", index=False, encoding="utf-8")

In [30]:
columnas_a_incluir = ["Total", "Convenio multilateral", "Otros ingresos", "Impuesto ingresos brutos", "Impuesto de sellos", "Impuesto inmobiliario"] 
df_impuestos_2 = pd.read_csv("impuestos_filtrados_2.csv", encoding="utf-8", dtype=str)

In [31]:
df_impuestos_2.head()

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
0,2020-01-20 00:00:00,1251929512.06,135847036.74,369561991.56,34173025.61,140972.62,128675709.74
1,2020-02-01 00:00:00,1142552416.65,91342422.79,431307808.97,33043812.67,17101.14,93701043.0
2,2020-03-01 00:00:00,1112673664.82,113805176.7,357083390.87,38569412.22,22010.96,123776208.56
3,2020-04-01 00:00:00,1049026764.5,89959877.33999999,316086794.28,19628833.45,-,89808421.01
4,2020-05-01 00:00:00,900337204.09,114837220.9,269308729.62,26818321.73,1656.12,46524900.02

In [32]:
for columna in columnas_a_incluir:
    df_impuestos_2[columna] = df_impuestos_2[columna].replace("-", "0")  # Sustituir "-" por 0
    df_impuestos_2[columna] = df_impuestos_2[columna].str.replace(",", ".", regex=False)  # Ajustar decimales
    df_impuestos_2[columna] = pd.to_numeric(df_impuestos_2[columna], errors="coerce")  # Convertir a número flotante

for columna in columnas_a_incluir:
    df_impuestos_2[columna] = df_impuestos_2[columna].apply(lambda x: "{:,.0f}".format(x) if isinstance(x, (int, float)) else str(x))

for columna in df_impuestos_2.columns:
    df_impuestos_2[columna] = df_impuestos_2[columna].apply(lambda x: '\n'.join([x[i:i+150] for i in range(0, len(x), 150)]) if isinstance(x, str) else x)

In [33]:
df_impuestos_2.head(1)

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
0,2020-01-20 00:00:00,"1,251,929,512","135,847,037","369,561,992","34,173,026","140,973","128,675,710"

In [34]:
df_impuestos_2.to_csv(path + r"data\interim\2-Recaudacion_impositiva_mensual_por_concepto.csv", index=False)

In [35]:
print(df_impuestos_1.shape)
print(df_impuestos_2.shape)

(36, 7)
(48, 7)

In [36]:
df_impuestos_completo = pd.concat([df_impuestos_1, df_impuestos_2], ignore_index=True)
print(df_impuestos_completo.shape) #Se imprime el tamaño para comprobar que la union se ha logrado con exito

(84, 7)

In [37]:
df_impuestos_completo.to_csv(path + r"data\interim\Recaudacion_impositiva_mensual_por_concepto.csv", index=False)

### Dataset: IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/

El índice de precios al consumidor (IPC) es un indicador que mide la evolución promedio de los precios de un conjunto de bienes y servicios representativos del gasto de consumo de los hogares residentes en un área determinada, que constituyen la canasta IPC. Los resultados se obtienen de 39 aglomerados urbanos y se presentan desagregados para 6 regiones estadísticas: Gran Buenos Aires, Cuyo, Noreste, Noroeste, Pampeana y Patagonia.Desde diciembre del año 2016 hasta abril del años 2025 de la region patagonica.

A partir de una determinada canasta (canasta IPC) con aquellos productos y servicios más representativos del gasto del conjunto de los hogares de una región, se realiza un relevamiento mensual de precios. En diciembre de 2016 se realizó una primera medición los precios de esa canasta que constituye la “base” del índice. Para el cálculo mensual del IPC se relevan los precios de los mismos bienes y servicios que integran la canasta IPC, y se observa su evolución en el tiempo. Se compara producto por producto, mes a mes; y de sus variaciones con respecto al período base o período de referencia (diciembre 2016) se obtiene un número índice.

In [38]:
ruta_excel = path + r"data/external/17_1_01_IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios._Patagonia.xlsx"

# Se carga la hoja, los encabezados estan en la fila 4
df_ipc = pd.read_excel(ruta_excel, header=None)

In [39]:
df_ipc = df_ipc.iloc[3:19]  # Seleccionar filas A4 hasta A19 (ajustado para índice 0)

In [40]:
df_ipc.tail()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
14,Comunicación,100,101.6649,105.7368,107.843,115.2587,115.391,116.2683,117.0195,119.0533,...,4895.3,5155,5401.9,5541.7,5673.2,5958.1,6077.9,6256.8,6440.4,6647.7
15,Recreación y cultura,100,100.9612,102.5319,105.026,108.9559,112.5688,115.3037,118.2348,119.7007,...,5769.9,5974.2,6156.5,6341.9,6539.3,6689.8,6866.9,6976,7104.7,7204.9
16,Educación,100,106.9917,106.687,123.3177,123.6835,123.8872,124.1271,124.9513,126.1421,...,3615.8,4042.4,4267.2,4436.8,4644.9,4711.1,4728.5,5157.8,6738.4,6927.6
17,Restaurantes y hoteles,100,102.2654,105.6675,105.4631,107.6891,107.9996,109.1265,112.1018,113.6027,...,6818.3,7272.9,7482.9,7949.9,8279.2,8737.6,9282.6,9702.9,10199.8,10681.4
18,Bienes y servicios varios,100,102.4839,104.2815,106.397,108.838,109.8555,111.9854,112.7634,114.9677,...,7206.7,7392.2,7584.4,7820.3,7930.2,8146.2,8302.7,8572.4,8758.7,8945.5

In [41]:
#Despues de selecionar la tabla se procede a guardarlo en formato csv para seguir editando en un csv
df_ipc.to_csv("ipc_patagonia.csv", index=False, encoding="utf-8")

In [42]:
#Importacion del dataset ipc_patagonia
df_ipc = pd.read_csv("ipc_patagonia.csv", encoding="utf-8")

In [43]:
df_ipc.head(4)

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,Nivel general y divisiones COICOP,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,...,2024-07-15 00:00:00,2024-08-12 00:00:00,2024-09-09 00:00:00,2024-10-07 00:00:00,2024-11-04 00:00:00,2024-12-02 00:00:00,2025-01-01 00:00:00,2025-02-09 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nivel general,100,102.5593,104.2827,106.5167,108.6517,110.4897,111.7051,113.3785,115.3036,...,6497.6,6797.2,7050.5,7278.5,7517.9,7717.1,7910.5,8164.3,8434.2,8659.4

In [44]:
# Eliminacion de las filas vacias
df_ipc.drop([1,2], axis=0, inplace=True)
df_ipc.head(2)

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,Nivel general y divisiones COICOP,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,...,2024-07-15 00:00:00,2024-08-12 00:00:00,2024-09-09 00:00:00,2024-10-07 00:00:00,2024-11-04 00:00:00,2024-12-02 00:00:00,2025-01-01 00:00:00,2025-02-09 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00
3,Nivel general,100,102.5593,104.2827,106.5167,108.6517,110.4897,111.7051,113.3785,115.3036,...,6497.6,6797.2,7050.5,7278.5,7517.9,7717.1,7910.5,8164.3,8434.2,8659.4

In [45]:
#Se voltea o transporne el dataset o matriz
df_ipc_transpuesto = df_ipc.T  # Intercambia filas y columnas

In [46]:
df_ipc_transpuesto.columns = df_ipc_transpuesto.iloc[0]  # Establecer la primera fila como encabezados
df_ipc_transpuesto = df_ipc_transpuesto[1:].reset_index(drop=True)  # Eliminar la fila usada como encabezados

In [47]:
df_ipc_transpuesto.head(3)

0,Nivel general y divisiones COICOP,Nivel general,Alimentos y bebidas no alcohólicas,Bebidas alcohólicas y tabaco,Prendas de vestir y calzado,"Vivienda, agua, electricidad y otros combustibles",Equipamiento y mantenimiento del hogar,Salud,Transporte,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios
0,2016-12-01 00:00:00,100,100,100,100,100,100,100,100,100,100,100,100,100
1,2017-01-01 00:00:00,102.5593,100.9464,101.1901,100.9137,110.3184,101.0684,104.7253,102.4768,101.6649,100.9612,106.9917,102.2654,102.4839
2,2017-02-01 00:00:00,104.2827,102.2499,105.356,102.3756,112.0198,101.2819,107.0073,104.4111,105.7368,102.5319,106.687,105.6675,104.2815

In [48]:
# Se renombra la columna de tiempo por "Mes"
df_ipc_transpuesto.rename(columns={"Nivel general y divisiones COICOP": "Mes"}, inplace=True)

In [49]:
df_ipc_transpuesto.to_csv(path + r"data\interim\IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios._Patagonia.csv", index=False)

### Dataset: Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/

La canasta básica alimentaria (CBA) es el valor monetario que permita adquirir un conjunto de alimentos y bebidas que satisfacen requerimientos nutricionales, kilocalóricos y proteicos, cuya composición refleja los hábitos de consumo de una población de referencia, es decir, un grupo de hogares que cubre con su consumo dichas necesidades alimentarias. Los valores del cuadro refieren al valor monetario que permite comprar los alimentos necesarios para alcanzar los requerimientos de energía, expresados en kilocalorías (kcal), de un adulto equivalente.

El valor de la CBA es utilizado en la Argentina, con fines estadísticos, como referencia para establecer la línea de indigencia (LI), comúnmente conocida como pobreza extrema. El concepto de línea de indigencia procura establecer si los hogares y las personas que lo integran cuentan con ingresos suficientes para cubrir una canasta básica de alimentos capaz de satisfacer un umbral mínimo de necesidades energéticas y proteicas.

In [50]:
ruta_excel = path + r"data/external/23_1_03-Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia.-1-1.xlsx"
df_canasta = pd.read_excel(ruta_excel, header=None)

In [51]:
df_canasta = df_canasta.iloc[2:90]  # Filas 3 a 90 en índice de Pandas

In [52]:
df_canasta.head()

,0,1,2,3
2,Mes,Canasta básica alimentaria,Inversa del coeficiente de Engel,Canasta básica total
3,NaN,Línea de indigencia,NaN,Línea de pobreza
4,NaN,(Valor en $),NaN,(Valor en $)
5,NaN,NaN,NaN,NaN
6,2017-01-01 00:00:00,1848.5,2.74,5064.89

In [53]:
# Se definen manualmente los encabezados
df_canasta.columns = ["Mes", "CBA-Linea de Indigencia", "inversa del coeficiente de Engel", "CBA-Linea de pobreza"]
# Se eliminan las filas que funcionaban como encabezados

In [54]:
df_canasta.drop([2,3,4,5], axis=0, inplace=True)

In [55]:
df_canasta.head(3)

,Mes,CBA-Linea de Indigencia,inversa del coeficiente de Engel,CBA-Linea de pobreza
6,2017-01-01 00:00:00,1848.5,2.74,5064.89
7,2017-02-01 00:00:00,1882.42,2.76,5195.4792
8,2017-03-01 00:00:00,1939.76,2.75,5334.34

In [56]:
df_canasta.to_csv(path + r"data\interim\Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia.csv", index=False)

### Dataset: Población ocupada según escala de ingreso de la ocupación principal
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/

Este dataset se encuentra en ruta data/raw/06_1_10-Poblacion-ocupada-segun-escala-de-ingreso-de-la-ocupacion-principal.xlsx. Sin embargo, la tarea de convertirlo en formato dataframe es demasiado ardua y solo requiero utilizar datos especificos, se opto entonces por hacerlo de manera manual extrayendo fragmentos del dataframe. Los valores de "ocupados con ingresos" representa la cantidad de personas ocupadas con ingresos.

In [57]:
data = {
    "Año": ["2017", "2017", "2017","2017",
            "2018", "2018", "2018","2018",
            "2019", "2019", "2019","2019",
            "2020", "2020", "2020","2020",
            "2021", "2021", "2021","2021",
            "2022", "2022", "2022","2022",
            "2023", "2023", "2023","2023",
           ],
    "Trimestre": ["1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                  "1er trimestre","2do trimestre","3er trimestre","4to trimestre",
                 ],
    "Ocupados con ingresos": ["60412", "62512", "60674","63110",
                              "64968", "64923", "60798","61074",
                              "61358", "63440", "62318","64315",
                              "59830", "46321", "55104","63887",
                              "66709", "69767", "71764","69885",
                              "74412", "78409", "74575","79925",
                              "81149", "82668", "80605","85768",
                             ],
}

df_poblacion_ocupada = pd.DataFrame(data)

Nota: El valor del tercer trimestre del año 2022 no esta registrado, para llenar este valor nulo se sumaron los valores 46321 y 63887, y se dividio por 2 para obtener un valor aproximado.

In [58]:
df_poblacion_ocupada.tail(3)

     Año      Trimestre Ocupados con ingresos
25  2023  2do trimestre                 82668
26  2023  3er trimestre                 80605
27  2023  4to trimestre                 85768

In [59]:
df_poblacion_ocupada.to_csv(path + r"data\interim\Poblacion-ocupada-segun-escala-de-ingreso-de-la-ocupacion-principal.csv", index=False)

### Dataset: Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia
- Origen: IPIEC
- Fuente: https://ipiec.tierradelfuego.gob.ar/estadisticas-sociales-y-demograficas/

La población estimada es una proyección de la población futura, a corto y medio plazo, basada en el conocimiento de los fe.nómenos demográficos y utilizando los indicadores demográficos de mortalidad, fecundidad y migraciones. Abarca desde 2010 hasta 2025.

In [60]:
ruta_excel = path + r"data/external/01_02_03-Poblacion-estimada-al-1-de-julio-de-cada-ano-calendario-por-sexo-segun-departamento.-USH-y-RGA.-Anos-2010-2025.xlsx"
df_poblacion_departamento = pd.read_excel(ruta_excel, header=None)

In [61]:
df_poblacion_departamento = df_poblacion_departamento.iloc[2:8]

In [62]:
#Despues de selecionar la tabla se procede a guardarlo en formato csv para seguir editando en un csv
df_poblacion_departamento.to_csv("Poblacion-estimada-al-1-de-julio-de-cada-ano-segun-departamento.csv", index=False, encoding="utf-8")

In [63]:
#Importacion del dataset
df_poblacion_departamento = pd.read_csv("Poblacion-estimada-al-1-de-julio-de-cada-ano-segun-departamento.csv", encoding="utf-8")

In [64]:
df_poblacion_departamento.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Sexo y departamento,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total ambos sexos,131661.0,135742.0,139852.0,143987.0,148143.0,152317.0,156509.0,160720.0,164944.0,169183.0,173432.0,177697.0,181983.0,186285.0,190601.0,194926.0

In [65]:
# Eliminacion de las filas vacias
df_poblacion_departamento.drop([1], axis=0, inplace=True)
df_poblacion_departamento.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Sexo y departamento,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0
2,Total ambos sexos,131661.0,135742.0,139852.0,143987.0,148143.0,152317.0,156509.0,160720.0,164944.0,169183.0,173432.0,177697.0,181983.0,186285.0,190601.0,194926.0

In [66]:
#Se voltea o transporne el dataset o matriz
df_poblacion_departamento_transpuesto = df_poblacion_departamento.T  # Intercambia filas y columnas

In [67]:
df_poblacion_departamento_transpuesto.columns = df_poblacion_departamento_transpuesto.iloc[0]  # Establecer la primera fila como encabezados
df_poblacion_departamento_transpuesto = df_poblacion_departamento_transpuesto[1:].reset_index(drop=True)  # Eliminar la fila usada como encabezados

In [68]:
df_poblacion_departamento_transpuesto.head(2)

0,Sexo y departamento,Total ambos sexos,Antártida Argentina,Río Grande,Ushuaia
0,2010.0,131661.0,214.0,72491.0,58956.0
1,2011.0,135742.0,220.0,74777.0,60745.0

In [69]:
# Se renombra la columna de tiempo por "Mes"
df_poblacion_departamento_transpuesto.rename(columns={"Sexo y departamento": "Anio"}, inplace=True)

In [70]:
df_poblacion_departamento_transpuesto.to_csv(path + r"data\interim\Poblacion-estimada-al-1-de-julio-de-cada-ano-calendario-por-sexo-segun-departamento.csv", index=False)

# Unificacion de datasets

In [71]:
df_delictivo = pd.read_csv(path + r"data\interim\TDF_SAT-Propiedad-BU_2017-2023.csv", delimiter =',')

In [72]:
df_poblacion_total = pd.read_csv(path + r"data/interim/Poblacion-total-segun-ingreso-medio-per-capita.csv", delimiter =',')

In [73]:
df_poblacion_con_ingresos = pd.read_csv(path + r"data/interim/Poblacion-ocupada-segun-escala-de-ingreso-de-la-ocupacion-principal.csv", delimiter =',')

In [74]:
df_impuestos = pd.read_csv(path + r"data/interim/Recaudacion_impositiva_mensual_por_concepto.csv", delimiter =',')

In [75]:
df_cba = pd.read_csv(path + r"data/interim/Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia.csv", delimiter =',')

In [76]:
df_ipc = pd.read_csv(path + r"data/interim/IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios._Patagonia.csv", delimiter =',')

In [77]:
df_poblacion_departamento = pd.read_csv(path + r"data\interim\Poblacion-estimada-al-1-de-julio-de-cada-ano-calendario-por-sexo-segun-departamento.csv", delimiter =',')

Nota: Los dataset que tengan un seguimiento de tiempo por trimestre, los meses que correspondan al mismo trimestre guardaran el mismo valor.

In [78]:
# union del dataset df_poblacion:
df_poblacion_total.rename(columns={"Año": "anio"}, inplace=True)

# Definir a qué trimestre pertenece cada mes
trimestre_mapping = {
    "Enero": "1er trimestre", "Febrero": "1er trimestre", "Marzo": "1er trimestre",
    "Abril": "2do trimestre", "Mayo": "2do trimestre", "Junio": "2do trimestre",
    "Julio": "3er trimestre", "Agosto": "3er trimestre", "Septiembre": "3er trimestre",
    "Octubre": "4to trimestre", "Noviembre": "4to trimestre", "Diciembre": "4to trimestre"
}
df_delictivo["Trimestre"] = df_delictivo["mes"].map(trimestre_mapping)

df_poblacion_filtrado = df_poblacion_total[["anio", "Trimestre", "Población total"]]
df_delictivo = df_delictivo.merge(df_poblacion_filtrado, on=["anio", "Trimestre"], how="left")

In [79]:
df_delictivo.head()

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,cantidad_inculpados,cantidad_inculpados_sexo_masc,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,0,0,0,0,0,0,0,0,2do trimestre,152940
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,0,0,0,0,0,0,0,0,2do trimestre,152940
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,10,7,3,0,0,0,10,0,2do trimestre,152940
3,94,Tierra del Fuego,94007,Río Grande,2017,Abril,4,Robo de automotores,0,0,...,0,0,0,0,0,0,0,0,2do trimestre,152940
4,94,Tierra del Fuego,94007,Río Grande,2017,Abril,5,Robo de bancos,0,0,...,0,0,0,0,0,0,0,0,2do trimestre,152940

In [80]:
#union del dataset df_poblacion_con_ingresos con df_delictivo
df_poblacion_con_ingresos.rename(columns={"Año": "anio"}, inplace=True)
df_poblacion_con_ingresos_filtrado = df_poblacion_con_ingresos[["anio", "Trimestre", "Ocupados con ingresos"]]
df_delictivo = df_delictivo.merge(df_poblacion_con_ingresos_filtrado, on=["anio", "Trimestre"], how="left")

In [81]:
df_delictivo.head()

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,cantidad_inculpados_sexo_masc,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total,Ocupados con ingresos
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,0,0,0,0,0,0,0,2do trimestre,152940,62512
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,0,0,0,0,0,0,0,2do trimestre,152940,62512
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,7,3,0,0,0,10,0,2do trimestre,152940,62512
3,94,Tierra del Fuego,94007,Río Grande,2017,Abril,4,Robo de automotores,0,0,...,0,0,0,0,0,0,0,2do trimestre,152940,62512
4,94,Tierra del Fuego,94007,Río Grande,2017,Abril,5,Robo de bancos,0,0,...,0,0,0,0,0,0,0,2do trimestre,152940,62512

In [82]:
#Union del dataset df_poblacion_departamento con df_delictivo

#Se renombran las columnas para la union
df_poblacion_departamento.rename(columns={"Anio": "anio"}, inplace=True)
df_delictivo = df_delictivo.merge(df_poblacion_departamento, on="anio", how="left")
#Se añade una nueva columna "poblacion_por_departamento" en df_delictivo para llenar el valor de la poblacion
df_delictivo["poblacion_por_departamento"] = df_delictivo.apply(lambda row: row[row["departamento_nombre"]] if row["departamento_nombre"] in ["Río Grande", "Ushuaia"] else None, axis=1)
#Se borran las columnas que ya no se necesitan
df_delictivo.drop(columns=['Total ambos sexos', 'Antártida Argentina',"Río Grande", "Ushuaia"], inplace=True)  # Eliminamos las columnas después de asignarlas

In [83]:
df_delictivo.head(3)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total,Ocupados con ingresos,poblacion_por_departamento
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,3,0,0,0,10,0,2do trimestre,152940,62512,88768.0

In [84]:
#Para facilitar la union y evitar conflictos por diferentes tipos de formato en mes, se añade una columna que represente el mes en tipo numerico
mes_mapping = {
    "Enero": 1, "Febrero": 2, "Marzo": 3,
    "Abril": 4, "Mayo": 5, "Junio": 6,
    "Julio": 7, "Agosto": 8, "Septiembre": 9,
    "Octubre": 10, "Noviembre": 11, "Diciembre": 12
}
df_delictivo["mes_num"] = df_delictivo["mes"].map(mes_mapping)

df_delictivo.rename(columns={"mes": "mes_2","mes_num": "mes"}, inplace=True)

In [85]:
#Union del dataset df_cba con df_delictivo

#Este df tiene un formato de fecha distinto al df_delictivo asi que se necesita un proceso previo
df_cba["Mes"] = pd.to_datetime(df_cba["Mes"])  # Convertir a formato datetime
df_cba["anio"] = df_cba["Mes"].dt.year  # Extraer año
df_cba["mes"] = df_cba["Mes"].dt.month  # Extraer número de mes

#Se escogen las columnas a unir
df_cba_filtrado = df_cba[["anio", "mes", "CBA-Linea de Indigencia", "inversa del coeficiente de Engel", "CBA-Linea de pobreza"]]

#Union
df_delictivo = df_delictivo.merge(df_cba_filtrado, on=["anio", "mes"], how="left")

In [86]:
df_delictivo.head(3)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes_2,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total,Ocupados con ingresos,poblacion_por_departamento,mes,CBA-Linea de Indigencia,inversa del coeficiente de Engel,CBA-Linea de pobreza
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,10,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995

In [87]:
#Union del dataset df_ipc con df_delictivo

#Este df tiene un formato de fecha distinto al df_delictivo asi que se necesita un proceso previo
df_ipc["Mes"] = pd.to_datetime(df_ipc["Mes"])  # Convertir a formato datetime
df_ipc["anio"] = df_ipc["Mes"].dt.year  # Extraer año
df_ipc["mes"] = df_ipc["Mes"].dt.month  # Extraer número de mes

#Se escogen las columnas a unir
df_ipc_filtrado = df_ipc[["anio", "mes", 'Nivel general', 'Alimentos y bebidas no alcohólicas',
       'Bebidas alcohólicas y tabaco', 'Prendas de vestir y calzado',
       'Vivienda, agua, electricidad y otros combustibles',
       'Equipamiento y mantenimiento del hogar', 'Salud', 'Transporte',
       'Comunicación', 'Recreación y cultura', 'Educación',
       'Restaurantes y hoteles', 'Bienes y servicios varios']]

#Union
df_delictivo = df_delictivo.merge(df_ipc_filtrado, on=["anio", "mes"], how="left")

In [88]:
df_delictivo.head(3)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes_2,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,Prendas de vestir y calzado,"Vivienda, agua, electricidad y otros combustibles",Equipamiento y mantenimiento del hogar,Salud,Transporte,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838

In [89]:
df_impuestos.tail(5)

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
79,2023-08-23 00:00:00,"9,176,947,693","1,530,400,681","2,249,288,196","349,992,463","28,299","1,297,590,346"
80,sep-23,"10,801,781,549","1,614,646,479","2,473,596,079","365,528,202","9,191","2,124,844,610"
81,2023-10-23 00:00:00,"11,669,771,881","1,618,598,636","3,093,237,483","353,721,777","192,078","2,150,185,519"
82,2023-11-23 00:00:00,"12,211,315,350","1,953,575,626","2,648,964,894","476,196,721","2,996,364","1,565,910,741"
83,2023-12-23 00:00:00,"15,600,520,985","2,257,026,544","2,656,054,518","455,518,845","608,610","2,097,392,332"

In [90]:
#Se detecto en la linea 81 un registro con un valor de tiempo diferente al resto
#Se cambia y define manualmente este valor
df_impuestos.loc[80, "Mes"] = "2023-09-01 00:00:00"

In [91]:
df_impuestos.head()

,Mes,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario,Otros ingresos
0,2017-01-01 00:00:00,"519,283,888","71,123,083","158,601,571","21,718,644","22,115","267,818,476"
1,2017-02-01 00:00:00,"467,864,648","57,416,525","144,090,087","17,667,071","223,034","248,467,932"
2,2017-03-01 00:00:00,"482,706,552","69,333,643","145,077,379","17,222,376","149,048","250,924,106"
3,2017-04-01 00:00:00,"596,500,020","63,108,045","235,841,071","20,348,071","25,087","277,177,746"
4,2017-05-01 00:00:00,"584,560,675","67,983,284","194,554,548","23,899,008","9,975","298,113,860"

In [92]:
#Union del dataset df_impuestos con df_delictivo
#Este df tiene un formato de fecha distinto al df_delictivo asi que se necesita un proceso previo

df_impuestos[["anio", "mes", "dia"]] = df_impuestos["Mes"].str.split("-", expand=True)
df_impuestos["mes"] = df_impuestos["mes"].astype(int)
df_impuestos["anio"] = df_impuestos["anio"].astype(int)

#Se escogen las columnas a unir
df_impuestos_filtrado = df_impuestos[["anio", "mes", 'Total', 'Impuesto ingresos brutos', 
                                      'Convenio multilateral', 'Impuesto de sellos', 'Impuesto inmobiliario']]
#Union
df_delictivo = df_delictivo.merge(df_impuestos_filtrado, on=["anio", "mes"], how="left")

In [93]:
df_delictivo.head(3)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes_2,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,...,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,...,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,...,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,...,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"

# Dataset unificado

**Datasets: columnas incorporadas**
- **Poblacion-total-segun-ingreso-medio-per-capita:** 'Trimestre', 'Población total'
- **Poblacion-ocupada-segun-escala-de-ingreso-de-la-ocupacion-principal:** 'ocupados con ingresos'
- **Poblacion-estimada-al-1-de-julio-de-cada-ano-calendario-por-sexo-segun-departamento:** 'poblacion_por_departamento'
- **Canasta-basica-alimentaria-y-canasta-basica-total.-Patagonia:** 'CBA-Linea de Indigencia', 'inversa del coeficiente de Engel', 'CBA-Linea de pobreza'
- **IPC_resultados_-por_divisiones_de_la_canasta_categorias_bienes_y_servicios._Patagonia:** 'Nivel general', 'Alimentos y bebidas no alcohólicas', 'Bebidas alcohólicas y tabaco', 'Prendas de vestir y calzado', 'Vivienda, agua, electricidad y otros combustibles', 'Equipamiento y mantenimiento del hogar', 'Salud', 'Transporte', 'Comunicación', 'Recreación y cultura', 'Educación', 'Restaurantes y hoteles'. 'Bienes y servicios varios'
- **Recaudacion_impositiva_mensual_por_concepto:** 'Total', 'Impuesto ingresos brutos', 'Convenio multilateral', 'Impuesto de sellos', 'Impuesto inmobiliario'

In [95]:
pd.set_option("display.max_columns", None)
df_delictivo.head(3)

,provincia_id,provincia_nombre,departamento_id,departamento_nombre,anio,mes_2,codigo_delito_sat_prop,nombre_delito_sat_prop,cantidad_hechos,cantidad_hechos_inc_conocido,cantidad_hechos_inc_desconocido,cantidad_hechos_lugar_via_publ,cantidad_hechos_lugar_establec,cantidad_hechos_lugar_dom_part,cantidad_hechos_lugar_sd,cantidad_hechos_arma_de_fuego,cantidad_hechos_arma_otra,cantidad_hechos_arma_sin_arma,cantidad_hechos_arma_sd,cantidad_hechos_origen_denuncia,cantidad_hechos_origen_intervenc,cantidad_hechos_origen_orden_jud,cantidad_hechos_origen_otro,cant_hechos_agrav_por_lesiones,cant_hechos_agrav_sin_lesiones,cantidad_inculpados,cantidad_inculpados_sexo_masc,cantidad_inculpados_sexo_fem,cantidad_inculpados_sexo_sd,cantidad_inculpados_edad_0_15,cantidad_inculpados_edad_16_17,cantidad_inculpados_edad_mas_18,cantidad_inculpados_edad_sd,Trimestre,Población total,Ocupados con ingresos,poblacion_por_departamento,mes,CBA-Linea de Indigencia,inversa del coeficiente de Engel,CBA-Linea de pobreza,Nivel general,Alimentos y bebidas no alcohólicas,Bebidas alcohólicas y tabaco,Prendas de vestir y calzado,"Vivienda, agua, electricidad y otros combustibles",Equipamiento y mantenimiento del hogar,Salud,Transporte,Comunicación,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios varios,Total,Impuesto ingresos brutos,Convenio multilateral,Impuesto de sellos,Impuesto inmobiliario
0,94,Tierra del Fuego,94007,Río Grande,2017,Abril,6,Extorsiones,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
1,94,Tierra del Fuego,94007,Río Grande,2017,Abril,2,Hurto de automotores,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"
2,94,Tierra del Fuego,94007,Río Grande,2017,Abril,1,Hurtos (excluir de automotores),70,10,60,12,14,44,0,0,0,70,0,46,24,0,0,0,0,10,7,3,0,0,0,10,0,2do trimestre,152940,62512,88768.0,4,1975.67,2.78,5492.3625999999995,108.6517,105.4772,109.665,105.76,119.3459,103.6556,110.6841,107.5492,115.2587,108.9559,123.6835,107.6891,108.838,"596,500,020","63,108,045","235,841,071","20,348,071","25,087"

In [96]:
df_delictivo.shape

(2253, 59)

In [97]:
# Se guarda el dataset unificado
df_delictivo.to_csv(path + r"data\interim\TDF-hechos-delictivos.csv", index=False)